<%= content_for :page_title, t(".title") %>

<div class="bg-container shadow-border-xs rounded-xl p-6 grow overflow-y-auto">
  <% if @changelog_body.present? %>
    <div class="prose prose--github-release-notes text-sm text-secondary">
      <%= markdown(@changelog_body) %>
    </div>
  <% else %>
    <div class="text-sm text-secondary">
      <p>No changelog entries yet.</p>
    </div>
  <% end %>
</div>
